version: "3.9"

services:

  chatgpt:
    image: ghcr.io/ivanfioravanti/chatbot-ollama:main

    environment:
      - DEFAULT_MODEL=mistral
      - OLLAMA_HOST=http://ollama:11434

    depends_on:
      - ollama

    networks:
      - ollama_net

  ollama:
    image: ollama/ollama:latest
    volumes:
      - ./ollama/models:/ollama/models
    environment:
      - OLLAMA_MODELS=/ollama/models
      - OLLAMA_KEEP_ALIVE=24h
    networks:
      - ollama_net

  ollama-init:
    image: ollama/ollama:latest
    depends_on:
      - ollama
    entrypoint: >
      sh -c "
      sleep 10 &&
      ollama pull mistral
      "
    environment:
      - OLLAMA_HOST=http://ollama:11434
    networks:
      - ollama_net

networks:
  ollama_net:
